/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


.form-inline input[name=pid],
.form-inline select[name=group] {
    width: 400px;
}

.pre-scrollable {
  overflow-y: auto;
}
